.h
{
    background-color: aqua;
}
.lio
{
    text-align: center;
}
h1:hover{
  text-align: center;
  color: black;
  background-color: aqua;
  
            padding-top: 50%;
            width: 320px;
            padding: 10px;
            border: 5px solid gray;
            margin: 0;
  
}